<ion-header [translucent]="true" class=" header slide-in-top">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chi tiết</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="medium">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="0" size-md="2"></ion-col>
      <ion-col size-xs="12" size-md="8">

        <iframe  frameborder="0" src="https://www.youtube.com/embed/xuEttWQDBbQ"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>

        <div *ngIf="movie" class="info_content" padding-left padding-right>
          <h2>{{movie.ten_anh}}</h2>
          <div class="info_list_episode">
          </div>
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <img [src]="movie.hinh_anh" />
              </ion-col>
              <ion-col size="8">
                <!-- <div class="info-detail-filed"><b>Đánh giá: </b> -->
                  <!-- <ion-badge color="waring">{{movie.diem}}</ion-badge> -->
                <!-- </div> -->
                <div class="info-detail-filed"><b>Tên gốc: </b>{{movie.ten_anh}}</div>
                <div class="info-detail-filed"><b>Quốc gia: </b>{{movie.quoc_gia}}</div>
                <div class="info-detail-filed"><b>Khởi chiếu: </b>{{movie.nam_sx}}</div>
                <div class="info-detail-filed"><b>Thời lượng:</b> {{movie.thoi_luong}}</div>
                <div class="info-detail-filed"><b>Đạo diễn:</b> {{movie.dao_dien}}</div>
                <ion-button color="warning" (click)="go_play(seo_name)" class="pulsate-bck"> <ion-icon name="play"></ion-icon></ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <p >{{movie.noi_dung}}</p>
        </div>
      </ion-col>
      <ion-col size-xs="0" size-md="2"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>