<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" color="">
      <ion-content color="">
        <ion-list id="inbox-list" color="">
          <ion-list-header>MENU</ion-list-header>
          <!-- <ion-note>Xem phim online</ion-note> -->

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages;">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>


         
        </ion-list>

        <ion-list >
          <ion-list-header > Topic</ion-list-header>
          <!-- danh sach topic -->
          <ion-chip color="tertiary">
            <ion-icon name="pin"></ion-icon>
            <ion-label>Doi khang</ion-label>
          </ion-chip>

          <ion-chip color="secondary">
            <ion-icon name="heart" color="secondary"></ion-icon>
            <ion-label>Default</ion-label>
          </ion-chip>

          <ion-chip color="warning">
            <ion-label>Button Chip</ion-label>
            <ion-icon name="close-circle"></ion-icon>
          </ion-chip>

          <ion-chip color="danger">
            <ion-icon name="pin"></ion-icon>
            <ion-label>Icon </ion-label>
            <ion-icon name="close"></ion-icon>
          </ion-chip>

          <ion-chip outline="true" color="success">
            <ion-icon name="pin"></ion-icon>
            <ion-label>Icon Chip</ion-label>
            <ion-icon name="close"></ion-icon>
          </ion-chip>
          <ion-chip color="tertiary">
            <ion-icon name="pin"></ion-icon>
            <ion-label>Doi </ion-label>
          </ion-chip>

          <ion-chip color="secondary">
            <ion-icon name="heart" color="secondary"></ion-icon>
            <ion-label>Default</ion-label>
          </ion-chip>

          <ion-chip color="warning">
            <ion-label>Button </ion-label>
            <ion-icon name="close-circle"></ion-icon>
          </ion-chip>

          <ion-chip color="danger">
            <ion-icon name="pin"></ion-icon>
            <ion-label>Icon Chip</ion-label>
            <ion-icon name="close"></ion-icon>
          </ion-chip>

          <ion-chip outline="true" color="success">
            <ion-icon name="pin"></ion-icon>
            <ion-label>Icon Chip</ion-label>
            <ion-icon name="close"></ion-icon>
          </ion-chip>
  
          <ion-chip color="tertiary">
            <ion-icon name="pin"></ion-icon>
            <ion-label>Doi khang</ion-label>
          </ion-chip>

          <ion-chip color="secondary">
            <ion-icon name="heart" color="secondary"></ion-icon>
            <ion-label>Default</ion-label>
          </ion-chip>

    

        </ion-list>

      </ion-content>
    </ion-menu>
    <!-- <router-outlet id="main-content"></router-outlet> -->
    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>