<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="movie">{{movie.ten_viet}}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content color="medium" [fullscreen]="true">
  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;">
      <ion-col size-xs="0" size-md="2"></ion-col>
      <ion-col size-xs="12" size-md="8" style="height: 100%;">

        <div class="resp-container" *ngIf="link">
          <!-- <iframe sandbox=" allow-scripts allow-same-origin" class="embed-responsive-item" [src]="link"
            allowfullscreen="true" scrolling="no" width="100%" height="100%" style=" border: 0px;"
            onload="resizeIframe(this)"></iframe> -->
            <iframe src="https://itch.io/embed/651292" width="552" height="167" frameborder="0"></iframe>
            
        </div>
      </ion-col>
      <ion-col size-xs="0" size-md="2"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>