<ion-header [translucent]="true" >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Thông tin</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="card-content background-image" [fullscreen]="true" color="medium">
  <!-- scale-in-ver-center -->
  <div *ngIf="load" class="div_load"   style="height: 100%; width: 100%;">
    <ion-spinner style="color: #3880ff; height: 100px;width: 100px;" name="crescent"></ion-spinner>
  </div>
  <div *ngIf="!load"  class="" [innerHTML]="iframe"  style="height: 100%; width: 100%;">
  </div>
  <!-- ten movie -->
   <div class="info-movie">
    <h1 class="  text-center title-movie   " *ngIf="game">
      {{game.title}}
    </h1>
    <h2 [innerHTML]="game.detail"  class=" text-left" *ngIf="game">
      
    </h2>
  </div> 



</ion-content>