.card-content {
    text-align: center;
}
.background-image {
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.flim-title {
    font-size: 1em;
}
.card-info {
}
.card-action {
    margin-bottom: 15px;
}
.card-title {
    font-size: 2em;
    font-weight: bold;
    color: #ffffffcf;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 5px;
    line-height: 1.6em;
    mix-blend-mode: difference;
}

.card-info-footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.88);
    box-shadow: 0 1px 99px 99px rgba(0, 0, 0, 0.88);
}
.icon-title {
    color: #bdbdbd;
}
ion-scroll[scrollX] {
    white-space: nowrap;
    .scroll-item {
        display: inline-block;
    }
    height: 160px;
}
.card img {
    width: 105px;
    height: 140px;
}
.card-content-md {
    padding: 0;
}
.img-movie {
    height: 240px;
}

.box {
    // width: 50%;
    width: 200px; 
    background: #111845a6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    margin: auto;
    margin-top: 30px;
    -webkit-box-shadow: 0 20px 50px #17205a;
    box-shadow: 0 20px 50px #17205a;
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
    height: 280px;
    width: 200;
  
}
.div_load{
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #eee;
}
.info-movie {
    padding-top: 25px;
    width: 90%;
    margin: auto;
    .title-movie {
        font-size: 2em;
        font-family: sans-serif;
        font-weight: 700;
        color: white;
        text-shadow: 0px 4px 5px #3880ff;
    }
    .title-movie-sub {
        padding: 8px;
        color: #ddd;
        font-size: 1.3em;
    }
}
