<ion-header color="dark">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button type="ios"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title>Search</ion-title>
    <ion-searchbar style="padding-top: 10px;" color="light" animated debounce="800" spellcheck="true"
      showCancelButton="focus" (ionChange)="search_movie($event)">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content color="medium">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="0" size-md="2"></ion-col>
      <ion-col size-xs="12" size-md="8">
        <ion-grid>
          <ion-row>
            <ion-col size-md="2" size-xs="4" *ngFor="let f of p_list" (click)="go(f.seo_name)">
              <img [src]="f.hinh_anh" width="100%" height="80%" />
              <div class="title_flim">{{f.ten_viet}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Tải thêm ...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
      <ion-col size-xs="0" size-md="2"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>