<ion-header [translucent]="true">
  <ion-toolbar color="dark" class="">
    <ion-buttons slot="start">
      <ion-menu-button type="ios"></ion-menu-button>
    </ion-buttons>

    <ion-title style="">
      <img src="assets/icon/icon_1.png" height="30px" alt="logo phim qq">
    </ion-title>

    <!-- <ion-buttons slot="end">
      <ion-button (click)="open_search()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
  <ion-grid>
    <ion-row>
      <!-- <ion-col size-xs="0" size-md="3"></ion-col> -->
      <ion-col size-xs="12" size-md="12">
        <ion-grid>
          <!-- loading -->
<!-- 
          <ion-item color="dark" lines="inset">
            <ion-label>Thể loại</ion-label>
            <ion-select multiple="true" mode="ios" color="dark" [(ngModel)]="the_loai" (ionChange)="select_the_loai()">
              <ion-select-option [value]="ca.the_loai" *ngFor="let ca of categories" color="dark">{{ca.the_loai_text}}
              </ion-select-option>
            </ion-select>
          </ion-item> -->
          
          
          <!-- loadding -->
          <ion-row *ngIf="!games">
            <ion-col size-sm="4" size-xs="6" size-md="2" *ngFor="let game of loadList">
              <ion-card class="" mode="md">
                <div class="skeleton-div img">
                  <ion-spinner style="    color: #3880ff;" name="crescent"></ion-spinner>
                </div>
                <div class="item item-text-wrap">
                  <div class="card-title">
                    <ion-skeleton-text style="width: 60%" color="red"></ion-skeleton-text>
                  </div>
                  <div class="card-sub">
                    <ion-skeleton-text style="width: 40%"></ion-skeleton-text>
                  </div>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>



          <!-- loaded -->
          <ion-row *ngIf="games" class="">
            <ion-col class="" size-sm="4" size-xs="6" size-md="2" *ngFor="let game of games" (click)="go(game.title)">
              <ion-card class="" mode="md">
                <img [src]="game.image.path" class="img" />
                <div class="item item-text-wrap">
                  <h1 class="card-title"> {{game.title}}</h1>
                  <!-- <div class="card-sub"> {{f.ten_viet}}</div> -->
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>


        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content color="light" loadingSpinner="bubbles" loadingText="Tải thêm ...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
  
    </ion-row>
  </ion-grid>

</ion-content>

<section id="preload" style="display: none;"></section>