<ion-header [translucent]="true">
    <ion-toolbar color="dark" class="">
      <ion-buttons slot="start">
        <ion-menu-button type="ios"></ion-menu-button>
      </ion-buttons>
  
      <ion-title style="">
        <img src="assets/icon/icon_1.png" height="30px" alt="logo phim qq">
      </ion-title>
  
      <ion-buttons slot="end">
        <ion-button (click)="open_search()">
          <ion-icon slot="icon-only" name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" color="medium">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="0" size-md="2"></ion-col>
        <ion-col size-xs="12" size-md="8">
          <!-- ds phim -->
  
          <h6 style="padding-left: 10px;">PHIM ĐỀ CỬ</h6>
          <div scrollX="true" class="scrollX-decu">
            <!-- loading -->
            <div *ngIf="!movies">
              <div class="scroll-item one" *ngFor="let f of loadList">
                <ion-card class="card-de-cu" mode="md">
                  <div class="skeleton-div">
                    <ion-spinner style="    color: #3880ff;" name="crescent"></ion-spinner>
                  </div>
                  <div class="item item-text-wrap">
                    <div class="card-title">
                      <ion-skeleton-text style="width: 60%" color="red"></ion-skeleton-text>
                    </div>
                    <div class="card-sub">
                      <ion-skeleton-text style="width: 40%"></ion-skeleton-text>
                    </div>
                  </div>
                </ion-card>
              </div>
            </div>
            <!-- content loaded -->
            <div class="scroll-item one" (click)="go(f.seo_name)" *ngFor="let f of movies">
              <ion-card class="card-de-cu" mode="md">
                <img [src]="f.hinh_anh" class="img" />
                <div class="item item-text-wrap">
                  <div class="card-title"> {{f.ten_viet}}</div>
                  <div class="card-sub"> {{f.ten_anh}}</div>
                </div>
              </ion-card>
            </div>
          </div>
  
          <!-- // phim chiếu rạp -->
          <h6 style="  padding-left: 10px;">PHIM CHIẾU RẠP</h6>
  
  
  
          <ion-grid>
            <!-- loading -->
            <ion-row *ngIf="!list_cinema">
              <ion-col style="margin-bottom: 20px;" class="col-img" size-sm="3" size-xs="4" size-md="2" *ngFor="let f of loadList">
                <div class="skeleton-div" style="height: 160px;">
                  <ion-spinner style="    color: #3880ff;" name="crescent"></ion-spinner>
                </div>
              </ion-col>
            </ion-row>
            <!-- loaded -->
            <ion-row *ngIf="list_cinema">
              <ion-col class="col-img" size-sm="3" size-xs="4" size-md="2" *ngFor="let f of list_cinema"
                (click)="go(f.seo_name)">
                <div class="img-2">
                  <img [src]="f.hinh_anh" width="100%" height="100%" />
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
  
  
          <h6 style="padding-left: 10px;">PHIM ĐỀ CỬ</h6>
          <div scrollX="true" class="scrollX-decu">
  
            <!-- loading -->
            <div *ngIf="!list_cinema_all">
              <div class="scroll-item one" *ngFor="let f of loadList">
                <ion-card class="card-de-cu" mode="md">
                  <div class="skeleton-div">
                    <ion-spinner style="    color: #3880ff;" name="crescent"></ion-spinner>
                  </div>
                  <div class="item item-text-wrap">
                    <div class="card-title">
                      <ion-skeleton-text style="width: 60%" color="red"></ion-skeleton-text>
                    </div>
                    <div class="card-sub">
                      <ion-skeleton-text style="width: 40%"></ion-skeleton-text>
                    </div>
                  </div>
                </ion-card>
              </div>
            </div>
  
            <!-- content loaded -->
            <div class="scroll-item one" (click)="go(f.seo_name)" *ngFor="let f of list_cinema_all">
              <ion-card class="card-de-cu" mode="md">
                <img [src]="f.hinh_anh" />
                <div class="item item-text-wrap">
                  <div class="card-title"> {{f.ten_viet}}</div>
                  <div class="card-sub"> {{f.ten_anh}}</div>
                </div>
              </ion-card>
  
            </div>
          </div>
  
        </ion-col>
        <ion-col size-xs="0" size-md="2"></ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-content>
  
  <section id="preload" style="display: none;"></section>