div[scrollX] {
  white-space: nowrap;
  .scroll-item {
    display: inline-block;
  }
  height: 220px;
}
.scrollX-decu[scrollX] {
  height: 280px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.card-title {
  color: #ffc107 !important;
  white-space: nowrap;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  overflow: hidden;
  text-transform: uppercase !important;
  text-overflow: ellipsis;
}
.card-sub {
  white-space: nowrap;
  text-align: center;
  padding: 0px 10px 10px;
  overflow: hidden;
  font-size: 0.8em;
  text-transform: uppercase !important;
  text-overflow: ellipsis;
}
// .card .img {
//   width: 110px;
//   height: 140px;
// }
.img {
  height: 130px;
  width: 100%;
}
.card-de-cu {
  width: 150px;
  height: 243px;
}
.card-de-cu img {
  width: 100%;
  height: 180px;
}
.card-phim-mini {
  width: 110px;
  font-size: 0.7em;
}

.card-content-md {
  padding: 0;
}
.col-img {
  height: 200px;
  margin-bottom: 10px;
  
}

.img-2{
  background-color: black;
  height: 100%;
}
ion-card,
.card-md {
  position: relative;
  background: #191919;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

ion-badge {
  position: absolute;
  right: 4px;
  top: 4px;
}
.item-md {
  background: none;
}
.skeleton-div {
  height: 130px;
  margin: 0px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
ion-skeleton-text {
  background: black;
}

ion-card:hover{
  transform: scale(1.1); 
}

.polula-success{
  
  background-color: #2dd36f;
  color: white;
  box-shadow: 0px 0px 15px 1px #2dd36f;
}

@media only screen and (min-width: 992px) {
  .scrollX-decu[scrollX] {
    height: auto;
    overflow-x: unset;
    overflow-y: unset;
  }
  div[scrollX] {
    white-space: normal;
  }
}
